## Import Library

In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score

## Read Dataset

In [22]:
data=pd.read_csv('Brain-Tumor.csv')

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3762 entries, 0 to 3761
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Image               3762 non-null   object
 1   Class               3762 non-null   int64
 2   Mean                3762 non-null   float64
 3   Variance            3762 non-null   float64
 4   Standard Deviation  3762 non-null   float64
 5   Entropy             3762 non-null   float64
 6   Skewness            3762 non-null   float64
 7   Kurtosis            3762 non-null   float64
 8   Contrast            3762 non-null   float64
 9   Energy              3762 non-null   float64
 10  ASM                 3762 non-null   float64
 11  Homogeneity         3762 non-null   float64
 12  Dissimilarity       3762 non-null   float64
 13  Correlation         3762 non-null   float64
dtypes: float64(12), int64(1), object(1)
memory usage: 411.6+ KB

In [24]:
data

,Image,Class,Mean,Variance,Standard Deviation,Entropy,Skewness,Kurtosis,Contrast,Energy,ASM,Homogeneity,Dissimilarity,Correlation
0,Image1,0,6.54,619.59,24.89,0.11,4.28,18.90,98.61,0.29,0.09,0.53,4.47,0.98
1,Image2,0,8.75,805.96,28.39,0.27,3.72,14.46,63.86,0.48,0.23,0.65,3.22,0.99
2,Image3,1,7.34,1143.81,33.82,0.00,5.06,26.48,81.87,0.03,0.00,0.27,5.98,0.98
3,Image4,1,5.96,959.71,30.98,0.00,5.68,33.43,151.23,0.03,0.00,0.24,7.70,0.96
4,Image5,0,7.32,729.54,27.01,0.15,4.28,19.08,174.99,0.34,0.12,0.50,6.83,0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3757,Image3758,0,21.23,1208.85,34.77,0.06,2.08,4.65,158.44,0.22,0.05,0.49,5.21,0.95
3758,Image3759,0,20.44,1227.15,35.03,0.07,2.14,4.88,161.16,0.23,0.05,0.50,5.08,0.95
3759,Image3760,0,18.01,1151.58,33.93,0.07,2.31,5.58,167.13,0.23,0.05,0.49,5.10,0.95
3760,Image3761,0,13.33,945.73,30.75,0.09,2.73,7.76,223.81,0.26,0.07,0.48,6.44,0.94
3761,Image3762,0,6.11,480.88,21.93,0.12,4.11,17.54,239.25,0.31,0.09,0.49,6.79,0.94

In [25]:
data = data.drop(data[['Image']],axis=1)

In [26]:
data.shape

(3762, 13)

In [27]:
data.describe()

,Class,Mean,Variance,Standard Deviation,Entropy,Skewness,Kurtosis,Contrast,Energy,ASM,Homogeneity,Dissimilarity,Correlation
count,3762.000000,3762.000000,3762.000000,3762.000000,3762.000000,3762.000000,3762.000000,3762.000000,3762.000000,3762.000000,3762.000000,3762.000000,3762.000000
mean,0.447368,9.488937,711.101095,25.182281,0.073312,4.102780,24.389051,127.961449,0.204668,0.058240,0.479261,4.698480,0.955779
std,0.497288,5.728057,467.466846,8.773594,0.070759,2.560976,56.434744,109.499528,0.129405,0.058704,0.127913,1.850242,0.026345
min,0.000000,0.080000,3.150000,1.770000,0.000000,1.890000,3.940000,3.190000,0.020000,0.000000,0.110000,0.680000,0.550000
25%,0.000000,4.982500,363.222500,19.060000,0.010000,2.620000,7.250000,72.127500,0.070000,0.000000,0.362500,3.410000,0.950000
50%,0.000000,8.480000,622.580000,24.950000,0.070000,3.420000,12.360000,106.740000,0.230000,0.050000,0.510000,4.480000,0.960000
75%,1.000000,13.215000,966.957500,31.097500,0.110000,4.650000,22.640000,161.057500,0.300000,0.090000,0.580000,5.720000,0.970000
max,1.000000,33.240000,2910.580000,53.950000,0.390000,36.930000,1371.640000,3382.570000,0.590000,0.350000,0.810000,27.830000,0.990000

In [28]:
data['Class'].value_counts()

0    2079
1    1683
Name: Class, dtype: int64

In [29]:
# Memisahkan data dan label
X = data.drop(columns='Class', axis=1)
Y = data['Class']

In [30]:
X

,Mean,Variance,Standard Deviation,Entropy,Skewness,Kurtosis,Contrast,Energy,ASM,Homogeneity,Dissimilarity,Correlation
0,6.54,619.59,24.89,0.11,4.28,18.90,98.61,0.29,0.09,0.53,4.47,0.98
1,8.75,805.96,28.39,0.27,3.72,14.46,63.86,0.48,0.23,0.65,3.22,0.99
2,7.34,1143.81,33.82,0.00,5.06,26.48,81.87,0.03,0.00,0.27,5.98,0.98
3,5.96,959.71,30.98,0.00,5.68,33.43,151.23,0.03,0.00,0.24,7.70,0.96
4,7.32,729.54,27.01,0.15,4.28,19.08,174.99,0.34,0.12,0.50,6.83,0.97
...,...,...,...,...,...,...,...,...,...,...,...,...
3757,21.23,1208.85,34.77,0.06,2.08,4.65,158.44,0.22,0.05,0.49,5.21,0.95
3758,20.44,1227.15,35.03,0.07,2.14,4.88,161.16,0.23,0.05,0.50,5.08,0.95
3759,18.01,1151.58,33.93,0.07,2.31,5.58,167.13,0.23,0.05,0.49,5.10,0.95
3760,13.33,945.73,30.75,0.09,2.73,7.76,223.81,0.26,0.07,0.48,6.44,0.94
3761,6.11,480.88,21.93,0.12,4.11,17.54,239.25,0.31,0.09,0.49,6.79,0.94

In [31]:
print(Y)

0       0
1       0
2       1
3       1
4       0
       ..
3757    0
3758    0
3759    0
3760    0
3761    0
Name: Class, Length: 3762, dtype: int64

In [32]:
data.isnull().sum()

Class                 0
Mean                  0
Variance              0
Standard Deviation    0
Entropy               0
Skewness              0
Kurtosis              0
Contrast              0
Energy                0
ASM                   0
Homogeneity           0
Dissimilarity         0
Correlation           0
dtype: int64

## Standarisasi Data

In [33]:
scaler = StandardScaler()

In [34]:
scaler.fit(X)

StandardScaler()

In [35]:
standarized_data = scaler.transform(X)

In [36]:
print(standarized_data)

[[-0.51489169 -0.19578556 -0.03331811 ...  0.39672099 -0.12350274
   0.91950363]
 [-0.12902019  0.20294811  0.36565926 ...  1.33498442 -0.79918002
   1.29913188]
 [-0.3752097   0.92576924  0.98464415 ... -1.63618311  0.6927154
   0.91950363]
 ...
 [ 1.48779883  0.94239295  0.99718344 ...  0.08396651  0.2170386
  -0.21938113]
 [ 0.6706592   0.50198233  0.634684   ...  0.00577789  0.94136464
  -0.59900939]
 [-0.58997076 -0.49255193 -0.37073897 ...  0.08396651  1.13055428
  -0.59900939]]

In [37]:
X = standarized_data
Y = data['Class']

In [38]:
print(X)
print(Y)

[[-0.51489169 -0.19578556 -0.03331811 ...  0.39672099 -0.12350274
   0.91950363]
 [-0.12902019  0.20294811  0.36565926 ...  1.33498442 -0.79918002
   1.29913188]
 [-0.3752097   0.92576924  0.98464415 ... -1.63618311  0.6927154
   0.91950363]
 ...
 [ 1.48779883  0.94239295  0.99718344 ...  0.08396651  0.2170386
  -0.21938113]
 [ 0.6706592   0.50198233  0.634684   ...  0.00577789  0.94136464
  -0.59900939]
 [-0.58997076 -0.49255193 -0.37073897 ...  0.08396651  1.13055428
  -0.59900939]]
0       0
1       0
2       1
3       1
4       0
       ..
3757    0
3758    0
3759    0
3760    0
3761    0
Name: Class, Length: 3762, dtype: int64

## Memisahkan Data Training dan Data Testing

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, stratify=Y, random_state=8)

In [40]:
print(X.shape, X_train.shape, X_test.shape)

(3762, 12) (2821, 12) (941, 12)

## Model Naive Bayes

In [41]:
classifier = GaussianNB()
classifier.fit(X_train, Y_train)

GaussianNB()

## Evaluasi Model

In [42]:
X_train_prediction=classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [43]:
print("Akurasi data training = ", training_data_accuracy)

Akurasi data training =  0.9666784828075151

In [44]:
X_test_prediction=classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [45]:
print("Akurasi data testing = ", test_data_accuracy)

Akurasi data testing =  0.9702444208289054

## Membuat Model Prediksi

In [50]:
input_data = (5.96,959.71,30.98,0.00,5.68,33.43,151.23,0.03,0.00,0.24,7.70,0.96)
input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

std_data = scaler.transform(input_data_reshape)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if(prediction[0] == 0):
    print('pasien tidak terkena tumor')
else :
    print('pasien terkena tumor')

[[-0.61616113  0.53189217  0.66090251 -1.03621833  0.61594852  0.16022312
   0.21252735 -1.34995057 -0.99223502 -1.87074897  1.62244733  0.16024712]]
[1]
pasien terkena tumor

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

## Load Model

In [47]:
import pickle

In [48]:
filename = 'brain_tumor.sav'
pickle.dump(classifier, open(filename,'wb'))